version: "3.3"

networks:
  net:

volumes:
  base_volume: { }

services:

  access_manager:
    container_name: access_manager
    image: vo13crabs/aceess_manager:0.6
    restart: always
    environment:
      BASE_URL: jdbc:postgresql://base:5432/postgres
      BASE_PASSWORD: access_manager
      ADMIN_LOGIN: "admin"
      ADMIN_PASSWORD: "admin"
    networks:
      - net
    depends_on:
      - base
    ports:
      - 8080:8080

  base:
    container_name: base
    image: postgres:11.10
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: access_manager
    networks:
      - net
    volumes:
      - base_volume:/var/lib/postgresql/data
    ports:
      - 5433:5432
