version: "3.3"

services:

  access_manager:
    container_name: access_manager
    image: vo13crabs/aceess_manager:0.8
    restart: always
    command: java -Dcom.sun.management.jmxremote -Xmx256m -jar app.jar
    environment:
      JDBC_URL: "jdbc:h2:~/access_manager_db"
      JDBC_USER: "admin"
      JDBC_PASSWORD: "admin"
    volumes:
      - /var:/var
    ports:
      - 8080:8080
