<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Функции</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">
</head>
<body>

<style>
    .v-middle {
        vertical-align: middle
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">access_manager</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page_roles">Роли</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page_functions">Функции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/page_permissions">Разрешения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/redoc/index.html" target="_blank">Документация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="mt-5">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">

            <h1>Разрешения</h1>

            <h3 class="mt-5 mb-3">Таблица разрешений</h3>

            <table class="table">
                <thead>
                <tr>
                    <th class="v-middle" scope="col">?:)</th>
                    <th class="v-middle" scope="col">Роль</th>
                    <th class="v-middle" scope="col" style="text-align: center" th:each="function: ${ functions }"
                        th:text="${ function.name }"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role, iStat: ${ data }">
                    <td class="v-middle">
                        <a th:href="'/page_role/' + ${ role.code }">
                            <svg class="bi bi-info-circle" fill="currentColor" height="20" viewBox="0 0 20 20"
                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </a>
                    </td>
                    <td class="v-middle" th:text="${ role.name }"></td>
                    <td class="v-middle" style="text-align: center" th:each="permission, pStat: ${ role.permissions }">
                        <span style="cursor: pointer" th:data-uuid="${ permission.uuid }"
                              th:id="'b_' + ${ iStat.index } + ${ pStat.index }"
                              th:onclick="'change(' + 'b_' + ${ iStat.index } + ${ pStat.index } + ')'">
                            <span class="text-success" th:if="${ permission.has }">
                                <svg class="bi bi-check2-circle" fill="currentColor" height="20" viewBox="0 0 20 20"
                                     width="20" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                </svg>
                            </span>
                            <span th:if="${ not permission.has }">
                                <svg class="bi bi-dash" fill="currentColor" height="20" viewBox="0 0 20 20"
                                     width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                </svg>
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<script>
    function id(id) {
        return document.getElementById(id);
    }

    function check(v) {
        return v !== "";
    }

    function change(button) {
        var uuid = button.getAttribute("data-uuid");

        fetch("http://localhost:8080/permissions/" + uuid + "/change", {
            method: "POST",
            headers:{"content-type": "application/json"}
        }).then((response) => {
            if (response.status === 200) {
                document.location.reload(true);
            }
        })
    }




</script>

</body>
</html>
